{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<h1 class="text-center fw-bold">A Propos d'Outdeed</h1>
<div class="my-5 container">
    <div class="card_container justify-content-around text-center">
        <div class="blanc p-3"style="max-width: 800px !important;font-size:larger;" class="card_body">
            <p>Outdeed est le 1er site d'emploi créé par une équipe de 4 développeurs web juniors de l'école de Webforce3 située à Toulouse dans le but d'un projet final.<br><br>
            Ce site est dédié pour les candidats cherchant un travail mais également pour les entreprises cherchant un salarié, Outdeed est la nouvelle plateforme de recherche d'emploi qui met "OUT" son rival ! 
            </p>
        </div>
    </div>
</div>

<hr width="500" style="margin : 0 auto !important;">

<div class="container pt-2">
    <h1 class=" text-center"> Notre équipe :</h1>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-2"></div>
        <div class="col-4">
            <div class="portfoliocard">
                <div class="coverphoto">
                </div>
                <div class="profile_picture1">
                </div>
                <div class="left_col">
                    <div class="followers">
                        <div class="follow_count">
                            18,541
                        </div>
                        Followers
                    </div>
                    <div class="following">
                        <div class="follow_count">
                            181
                        </div>
                        Following
                    </div>
                </div>
                <div class="right_col">
                    <h2 class="name">Romain Rosso</h2>
                    <h3 class="location">Toulouse, FR</h3>
                    <ul class="contact_information">
                        <li class="work">Développeur web junior</li>
                        <li class="website"><a class="nostyle"
                                href="https://www.youtube.com/channel/UC3SQ2Gv7nvsbq4fNq9yrk6A" target="_blank">Youtube
                                <i class="fas fa-arrow-right"></i></a>
                        </li>
                        <li class="mail"><a class="nostyle" href="" target="_blank">romainrosso.p@gmail.com</a></li>
                        <li class="phone">06.51.29.70.31</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="portfoliocard">
                <div class="coverphoto"></div>
                <div class="profile_picture2"></div>
                <div class="left_col">
                    <div class="followers">
                        <div class="follow_count">18,541</div>
                        Followers
                    </div>
                    <div class="following">
                        <div class="follow_count">181</div>
                        Following
                    </div>
                </div>
                <div class="right_col">
                    <h2 class="name">Alberto Bermejo</h2>
                    <h3 class="location">Toulouse, FR</h3>
                    <ul class="contact_information">
                        <li class="work">Développeur web</li>
                        <li class="website"><a class="nostyle" href="http://outdeed.com" target="_blank">outdeed.com</a>
                        </li>
                        <li class="mail"><a class="nostyle" href="" target="_blank">alberto@mail.com</a></li>
                        <li class="phone">00 00 00 00 00</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-2">
        </div>
        <div class="col-4">
            <div class="portfoliocard">
                <div class="coverphoto"></div>
                <div class="profile_picture3"></div>
                <div class="left_col">
                    <div class="followers">
                        <div class="follow_count">18,541</div>
                        Followers
                    </div>
                    <div class="following">
                        <div class="follow_count">181</div>
                        Following
                    </div>
                </div>
                <div class="right_col">
                    <h2 class="name">Marwane Kassabeh</h2>
                    <h3 class="location">Belgique, FR</h3>
                    <ul class="contact_information">
                        <li class="work">Développeur web</li>
                        <li class="website"><a class="nostyle" href="http://outdeed.com" target="_blank">outdeed.com</a>
                        </li>
                        <li class="mail"><a class="nostyle" href="" target="_blank">marwane@mail.com</a></li>
                        <li class="phone">00 00 00 00 00</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="portfoliocard">
                <div class="coverphoto"></div>
                <div class="profile_picture4"></div>
                <div class="left_col">
                    <div class="followers">
                        <div class="follow_count">18,541</div>
                        Followers
                    </div>
                    <div class="following">
                        <div class="follow_count">181</div>
                        Following
                    </div>
                </div>
                <div class="right_col">
                    <h2 class="name">Eddine Khedjam</h2>
                    <h3 class="location">Toulouse, FR</h3>
                    <ul class="contact_information">
                        <li class="work">Développeur web</li>
                        <li class="website"><a class="nostyle" href="http://outdeed.com" target="_blank">outdeed.com</a>
                        </li>
                        <li class="mail"><a class="nostyle" href="" target="_blank">eddine@mail.com</a></li>
                        <li class="phone">00 00 00 00 00</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>

<hr width="500" style="margin : 0 auto !important;">



<div class="container pt-2 text-center">
    <h1> Nous trouver : </h1>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92466.3657604639!2d1.3957618920415698!3d43.59459033006623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebb6fec7552ff%3A0x406f69c2f411030!2sToulouse!5e0!3m2!1sfr!2sfr!4v1641485762639!5m2!1sfr!2sfr"
        width="600" height="450" style="border:1px solid grey;" allowfullscreen="true" loading="lazy"></iframe>
    <p class="text-center font_title">TOULOUSE - FRANCE</p>
</div>


<div class="text-center my-5">
    <a href="{{ path('home')}}" class="btn btn-outline-secondary">Retour à l'accueil</a>
</div>

{% endblock %}