{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<h1 class="text-center fw-bold">A Propos d'Outdeed</h1>
<div class="my-5 container">
    <div class="card_container justify-content-around text-center">
        <div style="max-width: 800px !important;" class="card_body">
            <p>Outdeed est le 1er site d'emploi mondial enregistrant plus de 250 millions de visiteurs uniques chaque
                mois. Outdeed s'efforce de faire des candidats une priorité en leur permettant de chercher un emploi, de
                publier leur CV et de se renseigner au sujet des employeurs, le tout gratuitement. Chaque jour, nous
                offrons de nouvelles opportunités à des millions de personnes.
            </p>
        </div>
    </div>
</div>

<div class="my-5 d-flex justify-content-center container text-center mt-5">
    <div class="my-5 container  mt-5">
        <h1> <strong> Notre équipe:</strong></h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-2"></div>
        <div class="col-4">
            <div class="portfoliocard">
                <div class="coverphoto">
                </div>
                <div class="profile_picture1">
                </div>
                <div class="left_col">
                    <div class="followers">
                        <div class="follow_count">
                            18,541
                        </div>
                        Followers
                    </div>
                    <div class="following">
                        <div class="follow_count">
                            181
                        </div>
                        Following
                    </div>
                </div>
                <div class="right_col">
                    <h2 class="name">Romain Rosso</h2>
                    <h3 class="location">Toulouse, FR</h3>
                    <ul class="contact_information">
                        <li class="work">Développeur web</li>
                        <li class="website"><a class="nostyle" href="http://outdeed.com" target="_blank">outdeed.com</a>
                        </li>
                        <li class="mail"><a class="nostyle" href="" target="_blank">romain@mail.com</a></li>
                        <li class="phone">00 00 00 00 00</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="portfoliocard">
                <div class="coverphoto"></div>
                <div class="profile_picture2"></div>
                <div class="left_col">
                    <div class="followers">
                        <div class="follow_count">18,541</div>
                        Followers
                    </div>
                    <div class="following">
                        <div class="follow_count">181</div>
                        Following
                    </div>
                </div>
                <div class="right_col">
                    <h2 class="name">Alberto Bermejo</h2>
                    <h3 class="location">Toulouse, FR</h3>
                    <ul class="contact_information">
                        <li class="work">Développeur web</li>
                        <li class="website"><a class="nostyle" href="http://outdeed.com" target="_blank">outdeed.com</a>
                        </li>
                        <li class="mail"><a class="nostyle" href="" target="_blank">alberto@mail.com</a></li>
                        <li class="phone">00 00 00 00 00</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-2">
        </div>
        <div class="col-4">
            <div class="portfoliocard">
                <div class="coverphoto"></div>
                <div class="profile_picture3"></div>
                <div class="left_col">
                    <div class="followers">
                        <div class="follow_count">18,541</div>
                        Followers
                    </div>
                    <div class="following">
                        <div class="follow_count">181</div>
                        Following
                    </div>
                </div>
                <div class="right_col">
                    <h2 class="name">Marwane Kassabeh</h2>
                    <h3 class="location">Belgique, FR</h3>
                    <ul class="contact_information">
                        <li class="work">Développeur web</li>
                        <li class="website"><a class="nostyle" href="http://outdeed.com" target="_blank">outdeed.com</a>
                        </li>
                        <li class="mail"><a class="nostyle" href="" target="_blank">marwane@mail.com</a></li>
                        <li class="phone">00 00 00 00 00</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="portfoliocard">
                <div class="coverphoto"></div>
                <div class="profile_picture4"></div>
                <div class="left_col">
                    <div class="followers">
                        <div class="follow_count">18,541</div>
                        Followers
                    </div>
                    <div class="following">
                        <div class="follow_count">181</div>
                        Following
                    </div>
                </div>
                <div class="right_col">
                    <h2 class="name">Eddine Khedjam</h2>
                    <h3 class="location">Toulouse, FR</h3>
                    <ul class="contact_information">
                        <li class="work">Développeur web</li>
                        <li class="website"><a class="nostyle" href="http://outdeed.com" target="_blank">outdeed.com</a>
                        </li>
                        <li class="mail"><a class="nostyle" href="" target="_blank">eddine@mail.com</a></li>
                        <li class="phone">00 00 00 00 00</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
<div class="my-5 d-flex justify-content-center container text-center mt-5">
    <div class="my-5 container mt-5">
        <h1> <strong> Nous trouver :</strong></h1>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92466.3657604639!2d1.3957618920415698!3d43.59459033006623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebb6fec7552ff%3A0x406f69c2f411030!2sToulouse!5e0!3m2!1sfr!2sfr!4v1641485762639!5m2!1sfr!2sfr"
            width="600" height="450" style="border:1px solid grey;" allowfullscreen="true" loading="lazy"></iframe>
        <p class="text-center font_title">TOULOUSE - FRANCE</p>
    </div>
</div>

<div class="text-center mt-5">
    <td><a href="{{ path('home')}}" class="btn btn-secondary">Retour à l'accueil</a></td>

    {% endblock %}