<h1>Bonjour,</h1>

<p>
    Veuillez confirmer votre compte en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon compte</a>.
    Ce lien expirera {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
