<h1>Bonjour,</h1>

<p>
    Veuillez confirmer votre compte en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon compte</a>.
    Ce lien est valable une heure.
</p>

<p>
    Merci !
</p>
