p.card_date {
  right: 5% !important;
  bottom: 0;
}

a.nav-link:hover {
  color: rgb(0, 119, 255) !important;
}

h1#titre_home {
  font-family: "pacifico", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
  font-size: 72px !important;
}

div#div_home {
  top: 15%;  
  left: 50%;
  transform: translateX(-50%);
}
