p.card_date {
  right: 5% !important;
  bottom: 0;
}

a.nav-link:hover {
  color: rgb(0, 119, 255) !important;
}

h1#titre_home {
  font-family: "pacifico", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
  font-size: 72px !important;
}

div#div_home {
  top: 15%;  
  left: 50%;
  transform: translateX(-50%);
}



/* CARDS */


.card-short{
  height: 250px !important;
  width: 500px !important;
  border-radius: 12px;
}


.card .card-body .row .profile-img img{
  height: 125px;
  width: 125px;  
}

.btn-card{
  border-radius: 20px;
}



/* AJOUTER UNE OFFRE */

body{
  background-color:#f3f2f1;
}

.blanc{
  background-color: #fff !important;
  border-radius: 16px !important;

}