h1, .font_title {
    font-family: 'Roboto Slab', serif !important;
}

*{
    font-family: 'Quicksand', sans-serif;
}



/* Navbar  */


.nav-link{
    color: black;
    font-weight: bold;
}



/* Style view job  */



.card_container{
    display: flex;
}


.card-header{
    width: auto;
    height: max-content;
}

.card_body{
    text-align: left;
    padding: 0;
}

.text_head{
    font-size: 15px;
}

.head{
    margin: 5vh 0vh;
}

/* FOOTER */

/* icons */

.btn-primary{
    border-radius: 50%  !important;
    border-color: rgb(33, 37, 41);
}


/* Register form */

.container .row .left-form .form-title{
    font-family:"pacifico", sans-serif !important;
  }






/* Admin Navbar */




.navbar-test {
	background-color: red;
}