{% extends 'base_admin.html.twig' %}

{% block title %}Outdeed - Admin{% endblock %}

    {% block body %}

    <h1 class="container mt-0 text-center">
        Vous êtes sur la page administrateur
    </h1>
    {% endblock %}