{% extends 'base_admin.html.twig' %}

{% block title %}Outdeed - Admin{% endblock %}

    {% block body %}

    <h1 class="mt-0 container text-center">
        Vous êtes sur la page administrateur
    </h1>
{% endblock %}