{# If a list is empty -> include this file #}

<div class="container text-center blanc py-2">
    <img class="img-fluid" width="150" src="{{ asset('img/empty.png') }}" alt="empty_list">
    <h5> Il semblerait qu'il n'y ai aucun élément à afficher ici</h5>
</div>