<div class="nav-admin">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ path('home')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_jobs')}}">Job</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_companies')}}">Company</a>
      </li>
    </ul>
</div>