<div class="nav-admin">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ path('home')}}">Acceuil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_jobs')}}">Annonces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_companies')}}">Entreprises</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_reports')}}">Signalements</a>
      </li>
    </ul>
</div>