{% extends 'base.html.twig' %}

{% block title %}Outdeed - Fiche candidat{% endblock %}

{% block body %}


<h1 class="candidate_title">Inscription</h1>

<form method="post" id="fillCandidate" enctype="multipart/form-data">
    
  
    
    <fieldset>
        
        <legend><span class="number">1</span> Profil personnel</legend>
        
        <label class="label_candidate" for="first_name">Prénom :</label>
        <input class="form-control input_candidate" type="text" id="first_name" name="first_name">
        
        <label class="label_candidate" for="last_name">Nom de famille :</label>
        <input class="input_candidate" type="text" name="last_name" id="last_name">

        <label class="label_candidate" for="city">Ville :</label>
        <input type="text" name="city" id="city" class="form-control input_candidate">

        <label class="label_candidate" for="address">Adresse du domicile * :</label>
        <input type="text" name="address" id="address" class="form-control input_candidate">
        
        <label class="label_candidate" for="phone">Numéro de téléphone : * (au format '0601020304')</label>
        <input type="text" name="phone" id="phone" class="form-control input_candidate">

      
       
  
      

        <div class="row ">
            <label for="birth_d" >Date de naissance :
                <div class="d-flex justify-content-between mt-3">
                    <div class="col-3  mb-3">
                        <label class="label_candidate" for="birth_d">Jour  </label>
                        <input type="number" name="birth_d" id="birth_d" min="1" max="31" class="form-control input_candidate">
                    </div>
                    <div class="col-3  mb-3">
                        <label class="label_candidate" for="birth_m">Mois </label>
                        <input type="number" name="birth_m" id="birth_m" min="1" max="12" class="form-control input_candidate">
                    </div>
                    <div class="col-3  mb-3">
                        <label class="label_candidate" for="birth_y">Année </label>
                        <input type="number" name="birth_y" min="1900" max="2010" id="birth_y" class="form-control input_candidate">
                    </div>
                </div>
            </label>
        </div>
    
    </fieldset>
    
    <fieldset>
      
      <legend class="mb-5"><span class="number">2</span> Fichier télécharger</legend>
      
        <div class="col-12 my-5">
            <label for="pdp">Photo de profil * (PNG, JPEG ou JPG): </label>
            <input class="form-control" type="file" placeholder="Ajouter ma photo de profil" name="pdp" id="pdp" accept="images/jpeg, images/jpg, images/png">
        </div>
        <div class="col-12">
            <label for="cv">Votre CV * (PDF UNIQUEMENT): </label>
            <input class="form-control" type="file" placeholder="Ajouter un CV" name="cv" id="cv" accept="application/pdf, application/x-pdf">
        </div>
      
    </fieldset>
      
    <button type="submit" value="Sauvegarder" class="btn button_candidate">Inscription</button>
    
</form>   
{% endblock %}