{% extends 'base.html.twig' %}

{%block body %}
<div class="container">

    <form method="post">
        <h2 class="font_title">Êtes-vous sûr de vouloir supprimer cette compétence technique ?</h2>

        <p class="font_text">{{skill.skillName}}</p>

        <input type="submit" name="submit" class="btn btn-danger" value="Confimer la suppression">
    </form>
</div>

{% endblock %}